.card {
    display: flex;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #efebeb;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.item_module {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 18%;
    margin: 2rem;
  }

  .item_list {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
    height: 200px;
    margin: 0.5rem;
  }

  .price{ 
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
  }

  .center{
    display: flex;
    justify-content: center;
  }

  .red{
    color: red
  }

  